.card {
  max-width: 512px;
  margin-left: auto;
  margin-right: auto;
}

.actions {
  display: flex;
  align-items: center;
}

.action:not(:first-child) {
  margin-left: 16px;
}

.submissionIndicator {
  margin-left: 16px;
}

.alert {
  margin-top: 16px;
}
